
<div class="container-fluid pt-xl-4 pl-xl-4 pr-xl-4">
<div class="row row-first text-light">    
    <div class="col-xl-5 ">
        <h1>Mercado Disponible</h1> 
        <table class="table text-light">
            <tr>
                <td class="display-6">Soja</td>
                <td class="display-6">{{pizarraDisponible.soja}}</td>
            </tr>
            <tr>
                <td class="display-6">Maiz</td>
                <td class="display-6">{{pizarraDisponible.maiz}}</td>
            </tr>
            <tr>
                <td class="display-6">Trigo</td>
                <td class="display-6">{{pizarraDisponible.trigo}}</td>
            </tr>
            <tr>
                <td class="display-6">Sorgo</td>
                <td class="display-6">{{pizarraDisponible.sorgo}}</td>
            </tr>
        </table> 
    </div>
    <div class="col-xl-7">  
        <h1>Mercado Forward</h1> 
        <table class="table text-light">            
            <tr>
                <td class="display-6">Soja</td>
                <td class="display-6">U$S {{pizarraForward.soja}}</td>
                <td class="display-6">{{pizarraForward.sojaObs}}</td>
            </tr>
            <tr>
                <td class="display-6">Maiz</td>
                <td class="display-6">U$S {{pizarraForward.maiz}}</td>
                <td class="display-6">{{pizarraForward.maizObs}}</td>
            </tr>
            <tr>
                <td class="display-6">Trigo</td>
                <td class="display-6">U$S {{pizarraForward.trigo}}</td>
                <td class="display-6">{{pizarraForward.trigoObs}}</td>
            </tr>
            <tr>
                <td class="display-6">Sorgo</td>
                <td class="display-6">U$S {{pizarraForward.sorgo}}</td>
                <td class="display-6">{{pizarraForward.sorgoObs}}</td>
            </tr>
        </table> 
    </div>  
         
</div>
<div class="row text-light">
    <div class="col-xl-5">
        <h1 class="display-4">El Tiempo</h1>   
        <div id="tiempo"class="col-8 ">  
           <app-el-tiempo></app-el-tiempo>
        </div>
        </div>    
    <div class="col-xl-7">  
        <h1 class="display-6">Divisas</h1> 
        <app-divisa idMoneda="002"></app-divisa>
    </div>
    
</div>
</div>
