<table class="table text-light">
    <tr class="display-4">
       <th></th>
       <th>Compra</th>
       <th>Venta</th>
    </tr>            
    <tr>
        <td class="display-4">Dolar</td>
        <td class="display-4">{{pizarraDivisa.DolarCompra}}</td>
        <td class="display-4">{{pizarraDivisa.DolarVenta}}</td>
    </tr>
    <tr>
        <td class="display-4">Euro</td>
        <td class="display-4">{{pizarraDivisa.EuroCompra}}</td>
        <td class="display-4">{{pizarraDivisa.EuroVenta}}</td>
    </tr>
    <tr>
        <td class="display-4">Real</td>
        <td class="display-4">{{pizarraDivisa.RealCompra}}</td>
        <td class="display-4">{{pizarraDivisa.RealVenta}}</td>
    </tr>
</table> 
