<table class="table text-light">
    <tr class="display-6">
       <th></th>
       <th>Compra</th>
       <th>Venta</th>
    </tr>            
    <tr>
        <td class="display-6">Dolar</td>
        <td class="display-6">{{pizarraDivisa.DolarCompra}}</td>
        <td class="display-6">{{pizarraDivisa.DolarVenta}}</td>
    </tr>
    <tr>
        <td class="display-6">Euro</td>
        <td class="display-6">{{pizarraDivisa.EuroCompra}}</td>
        <td class="display-6">{{pizarraDivisa.EuroVenta}}</td>
    </tr>
    <tr>
        <td class="display-6">Real</td>
        <td class="display-6">{{pizarraDivisa.RealCompra}}</td>
        <td class="display-6">{{pizarraDivisa.RealVenta}}</td>
    </tr>
</table> 
